![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Welcome to your first project! Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

--- 
## The Task:
1. What kind of information do we have?
2. In which conditions are the flats?
3. Where are the appartments located?

Bonus Questions:
4. What is the mean rent?

In [1]:
# Imports
import pandas as pd

In [2]:
# install plotly
# https://plotly.com/python/pandas-backend/
!pip install plotly==4.14.3
pd.options.plotting.backend = "plotly"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plotly==4.14.3
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.2/13.2 MB 93.6 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from plotly==4.14.3) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: retrying, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.13.1
    Uninstalling plotly-5.13.1:
      Successfully uninstalled plotly-5.13.1
Successfully installed plotly-4.14.3 retrying-1.3.4

In [3]:
# Read in dataset
rentals = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
rentals.tail()

          Region        Condition  Rooms    Rent  Year_Construction   Space
759      Wedding   mint_condition    1.0   959.0               2017   27.80
760      Wedding   mint_condition    1.0   649.0               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.0               2017  110.00
762     Köpenick        well_kept    2.0  1259.0               2017   91.20
763     Neukölln  fully_renovated    2.0   888.0               1990   68.48

In [4]:
rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             764 non-null    object
 1   Condition          764 non-null    object
 2   Rooms              764 non-null    float64
 3   Rent               764 non-null    float64
 4   Year_Construction  764 non-null    int64
 5   Space              764 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 35.9+ KB

In [5]:
rentals.Condition.value_counts()

first_time_use                        270
mint_condition                        143
no_information                        111
well_kept                              96
refurbished                            40
first_time_use_after_refurbishment     36
fully_renovated                        35
modernized                             29
need_of_renovation                      4
Name: Condition, dtype: int64

In [6]:
rentals.Condition.nunique()

9

In [7]:
rentals.Region.value_counts()

Tiergarten         171
Mitte              153
Charlottenburg      79
Neukölln            59
Köpenick            55
Wilmersdorf         53
Prenzlauer          53
Friedrichsfelde     52
Kreuzberg           47
Wedding             42
Name: Region, dtype: int64

In [8]:
rentals.Rent.mean()

1768.560942408377

# 1. What kind of information do we have?

# 2. In which conditions are the flats?

# 3. Where are the appartments located?

# BONUS 4. What is the mean rent?
Have a look at:
- https://stackoverflow.com/questions/31037298/pandas-get-column-average-mean
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")